{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "grants-config-browser"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>
          The config browser is a tool to help you find and inspect the configuration versions
           available via the grants-config-broker.
        </p>
        To view the async-api documentation for the notifications emitted from the broker, on publish of
        a new config version, click <a href="/async-documentation">here</a>.
      </div>
    </div>
  </div>

{% endblock %}
