{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p></p>
        {% for table in versionTables %}
          <h2 class="govuk-heading-m govuk-!-static-margin-top-2">
            <a href="/grant?grant={{table.title}}">{{table.title}}</a>
          </h2>
          {% if table.isTruncated %}
            (Latest 3 versions shown, click for more)
          {% endif %}

          <div>
            {{ govukTable({
            attributes: {
            'data-module': 'moj-sortable-table'
            },
            firstCellIsHeader: false,
            head: headers,
            rows: table.rows,
            classes: 'fixed-layout-table'
            }) }}
          </div>
        {% else %}
          <li>No versions available</li>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
