{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p></p>
        {% if versionTableRows.length %}
          <h2 class="govuk-heading-m govuk-!-static-margin-top-2">
            All versions
          </h2>

          <div>
            {{ govukTable({
            attributes: {
            'data-module': 'moj-sortable-table'
            },
            firstCellIsHeader: false,
            head: headers,
            rows: versionTableRows,
            classes: 'fixed-layout-table'
            }) }}
          </div>
        {% else %}
          <li>No versions available</li>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
