// Maximum width for content to help reading
$app-reading-width: 44em !default;

// Maximum width for sections to help reading
$app-section-width: 64em !default;
$app-section-large-width: 84em !default;
$app-section-wide-width: 110em !default;
