{% extends 'layouts/page.njk' %}
{% from 'govuk/components/summary-list/macro.njk' import govukSummaryList %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {% if featureControl.description %}
            <p class="govuk-body">{{ featureControl.description }}</p>
          {% endif %}

      <h2 class="govuk-heading-m">Details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: featureControl.name
            }
          },
          {
            key: {
              text: "Type"
            },
            value: {
              text: featureControl.type
            }
          },
          {
            key: {
              text: "Current value"
            },
            value: {
              html: formattedValue
            }
          },
          {
            key: {
              text: "Scopes"
            },
            value: {
              html: formattedScopes
            }
          },
          {
            key: {
              text: "Owner"
            },
            value: {
              text: featureControl.owner
            }
          },
          {
            key: {
              text: "Created"
            },
            value: {
              text: created
            }
          },
          {
            key: {
              text: "Last Updated"
            },
            value: {
              text: updated
            }
          },
          {
            key: {
              text: "Expires"
            },
            value: {
              text: expires
            }
          },
          {
            key: {
              text: "Roles required to change"
            },
            value: {
              html: formattedRoles
            }
          }
        ]
      }) }}


    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">History</h2>
      {% if historyRows.length %}
        {{ govukTable({
          head: historyHeaders,
          rows: historyRows
        }) }}
      {% else %}
        <p class="govuk-body">No history available for this feature control.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
