@use "govuk-frontend" as *;

// Example namespaced custom element style CSS classes

.app-main-wrapper {
  display: block;
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(3);
}

.visualise-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .visualise-icon {
    width: 18px !important;
    height: 18px !important;
    margin-right: 5px !important;
    vertical-align: middle !important;
  }
}
